* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 2rem;
}

.banner {
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
}

h2 {
    color: navy;
    text-align: left;
    grid-column: 1 / 3;
    padding-top: 1rem;
}

article p {
    text-align: justify;
    margin-right: 1rem;
}

h3 {
    padding-bottom: .5rem;
}

.callout {
    grid-column: 1 / 3;
    padding: 1rem;
    color: #eee;
    background-color: #563846;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}