:root {
    --main_color: #FFC685;
    /* Apricot Cream */
    --accent_color_light: #A7C064;
    /* Muted Olive */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

header,
footer {
    background-color: var(--accent_color_light);
    text-align: center;
    padding: 1rem;
}

header h1,
footer {
    font-family: "Comfortaa", sans-serif;
}

div h2 {
    background-color: var(--main_color);
    padding: 1rem;
}

div p {
    padding: 1rem;
    font-size: 1.2rem;
}

img {
    padding: 1rem;
}