* {
    margin: 0 auto;
    text-align: center;
}

img {
    display: block;
    padding: 1rem;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}