* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr 1fr / 1fr 1fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background: #333;
    grid-column: 1 / 4;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #000;
    padding: 1.5rem 0rem;
}

a {
    text-decoration: none;
    color: #fff
}

main {
    background: #eee;
    grid-column: 1 / 3;
}

.aside {
    background: #fff;
    grid-column: 3 / 4;
}

footer {
    background: #333;
    text-align: center;
    grid-column: 1 / 4;
    color: #fff;
}

h1,
main,
.aside,
footer {
    padding: 1rem;
}