* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header {
    text-align: center;
    padding-top: 1rem;
    background-color: #EED7C5;
}

#course-title {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
}

nav {
    background-color: #B36A5E;
    padding: 1rem;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    position: absolute;
    top: -8rem;
    left: 60.5rem;
    font-size: 1.8rem;
}

.card-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.card {
    border: solid 1px #B36A5E;
    border-radius: 10px;
    margin: 1rem;
}

.card ul {
    margin: 8rem 0;
    padding: 2rem;
}

.card li {
    margin: .5rem;
    font-size: 1.2rem;
}

.first_card {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.profile {
    grid-column: 2 / 3;
    padding: 1rem;
}

.flag img {
    width: 200px;
}

.utah {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem;
}

main h2 {
    background-color: #B36A5E;
    text-align: center;
    padding: 1rem;
    border: solid 1px #B36A5E;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

p {
    font-weight: 400;
    padding: 1.5rem;
    grid-column: 1 / 2;
    font-size: 1.2rem;
    line-height: 1.5;
}

h3 {
    grid-column: 1 / 2;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #B36A5E;
    padding-bottom: .5rem;
    margin: 0 10rem;
}

figcaption {
    font-weight: 200;
    font-style: italic;
}

footer {
    background-color: #EED7C5;
    text-align: center;
    padding: .5rem;
}