@media screen and (min-width: 500px) {

    .temples {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #menu {
        display: none;
    }

    nav ul {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }
}